{% extends 'base.html' %}
{% block title %}Product Catalog{% endblock %}

{% block content %}

<div class="flex justify-between">
    <h2 class="text-xl font-semibold mb-4">Available Products</h2>

    <a href="{% url 'view_cart' %}" class="relative inline-block">
        <!-- Cart Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-700 hover:text-gray-900" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.2 6h12.4L17 13M7 13H5.4M17 13l1.2 6M6 21a1 1 0 100-2 1 1 0 000 2zm12 0a1 1 0 100-2 1 1 0 000 2z" />
        </svg>

        <!-- Badge -->
        {% if cart_item_count > 0 %}
        <span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs font-bold px-2 py-0.5 rounded-full">
            {{ cart_item_count }}
        </span>
        {% endif %}
    </a>
</div>
<div>Welcome, {{username}}</div>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {% for product in products %}
    <div class="bg-white shadow-md rounded-lg p-4">
        <h3 class="text-lg font-bold mb-2">{{ product.name }}</h3>
        <p class="text-gray-600 mb-2">{{ product.description|truncatewords:20 }}</p>
        <p class="text-blue-600 font-semibold mb-4">₹{{ product.price }}</p>
        <div class="flex justify-between align-center">

            <a href="/product/{{ product.pk }}" class="underline text-blue-600">View Details</a>
            <form action="/add-to-cart/{{product.id}}/" method="post">
                {% csrf_token %}
                <button type="submit"
                    class="mt-3 inline-flex items-center px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-semibold rounded-lg shadow-md transition duration-200">
                    <svg class="w-5 h-5 mr-2 -ml-1" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.2 6h12.4L17 13M7 13H5.4M17 13l1.2 6M6 21a1 1 0 100-2 1 1 0 000 2zm12 0a1 1 0 100-2 1 1 0 000 2z" />
                    </svg>
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
    {% empty %}
    <p class="text-gray-500">No products available right now.</p>
    {% endfor %}
</div>
{% endblock %}